{
  "project_info": {
    "project_number": "REPLACE_PROJECT_NUMBER",
    "project_id": "REPLACE_PROJECT_ID",
    "storage_bucket": "REPLACE_PROJECT_ID.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "REPLACE_MOBILESDK_APP_ID",
        "android_client_info": {
          "package_name": "com.constructorasd.csdapp"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_ANDROID_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
